<h1>Race#show</h1>
<p>
  <b>Nome:</b>
  <%=h @race.name %>
</p>

<p>
  <b>Etapa:</b>
  <%=h @race.stage %>
</p>

<p>
  <b>Data:</b>
  <%=h @race.date %>
</p>

<p>
  <b>Local:</b>
  <%=h @race.place %>
</p>

<p>
  <b>Url:</b>
  <%=h @race.url %>
</p>

<p>
  <b>Distancia:</b>
  <%=h @race.distance %>
</p>


<%= link_to 'Editar', edit_race_path(@race) %> |
<%= link_to 'Voltar', races_path %>

