<p>
  <b>Nome:</b>
  <%=h @race.name %>
</p>

<p>
  <b>Etapa:</b>
  <%=h @race.stage %>
</p>

<p>
  <b>Data:</b>
  <%=h @race.date %>
</p>

<p>
  <b>Local:</b>
  <%=h @race.place %>
</p>

<p>
  <b>Url:</b>
  <%=h @race.url %>
</p>

<p>
  <b>Distancia:</b>
  <%=h @race.distance %>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>

<% form_for :dump, :url=>{:controller=>"races",
                   :action=>"import"},
                   :html => { :multipart => true } do |f| %>
  <div id="file_import">
    <span>Selecione o arquivo CSV: </span>
    <span><%= f.file_field :file %></span>
  </div>

  <div>
    <span><%= submit_tag 'Enviar' %></span>
  </div>    
<% end %>
