<h1>Edição de prova</h1>

<% form_for(@race) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Nome' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Etapa' %><br />
    <%= f.text_field :stage %>
  </p>
  <p>
    <%= f.label 'Data' %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label 'Local' %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label 'Url' %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label 'Distância' %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

