<h1>Últimos resultados</h1>

<table>
  <tr>
    <td><%=h @resultado.prova.nome %></td>
    <td><%=h @resultado.prova.etapa %></td>
    <td><%=h @resultado.prova.data %></td>
    <td><%=h @resultado.prova.local %></td>
    <td><%=h @resultado.prova.url %></td>
    <td><%=h @resultado.prova.distancia %></td>
  </tr>
</table>

