<h1>Provas</h1>

<table>
  <tr>
    <td><%=h @last_competition.id %></td>
    <td> --- </td>
    <td><%=h @last_competition.nome %></td>
    <td><%=h @last_competition.etapa %></td>
    <td><%=h @last_competition.data %></td>
    <td><%=h @last_competition.local %></td>
    <td><%=h @last_competition.url %></td>
    <td><%=h @last_competition.distancia %></td>
  </tr>

  <tr>
    <td>Id</td>
    <td>Nome</td>
    <td>Distância</td>
    <td>IdProva</td>
  </tr>

<% for r in @results %>
  <tr>
    <td><%=h r.id %></td>
    <td><%=h r.nome %></td>
    <td><%=h r.sexo %></td>
    <td><%=h r.distancia %></td>
    <td><%=h r.idProva %></td>
  </tr>
<% end %>
</table>
<br/>
<br/>
<br/>
<div>
    <table>
      <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Etapa</td>
        <td>Data</td>
        <td>Local</td>
        <td>Url</td>
        <td>Distância</td>
      </tr>

    <% for ac in @all_competitions %>
      <tr>
        <td><%=h ac.id %></td>
        <td> --- </td>
        <td><%=h ac.nome %></td>
        <td><%=h ac.etapa %></td>
        <td><%=h ac.data %></td>
        <td><%=h ac.local %></td>
        <td><%=h ac.url %></td>
        <td><%=h ac.distancia %></td>
      </tr>
    <% end %>
    </table>
</div>

