<h1>Listagem de atletas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Data de Nascimento</th>
    <th>Cpf</th>
    <th>Celular</th>
    <th>Notas</th>
  </tr>

<% for atleta in @atletas %>
  <tr>
    <td><%=h atleta.nome %></td>
    <td><%=h atleta.data_nasc %></td>
    <td><%=h atleta.cpf %></td>
    <td><%=h atleta.celular %></td>
    <td><%=h atleta.notas %></td>
    <td><%= link_to 'Mostrar', atleta %></td>
    <td><%= link_to 'Editar', edit_atleta_path(atleta) %></td>
    <td><%= link_to 'Apagar', atleta, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo atleta', new_atleta_path %>

