<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Locamotiva</title>
	  <%= stylesheet_link_tag 'scaffold' %>
	</head>
	<body>
		<div id="main">
		  <div id="menu">
				<ul>
						<li></li>
						<li><%= link_to "Home", resultados_path %></li>
				    <li>|</li>
						<li><%= link_to "Provas", provas_path %></li>
				    <li>|</li>
						<li><%= link_to "Atletas", atletas_path %></li>
				</ul>
		  </div>
			<div style="padding:0 0 0 10px; margin:0; top:25px; color:red;font-size:40px;position:absolute;">
				<%= link_to "Locamotiva", races_path %></div>
	  </div>
		<p style="color: green"><%= flash[:notice] %></p>
		<div id="content" class="internal">
			<%= yield  %>
		</div>
		<div id="menu" class="header">
	  	<a href="/results">Resultados</a> | <a href="/races">Provas</a> | <a href="/runners">Atletas</a>
		</div>
	</body>
</html>
<div id="search" style="visibility:hidden;">
  <form action="/search" id="top_search_form" method="get">
      Busca <input name="q" type="search"> <input value="Search" type="submit">
  </form>
</div>
