<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Locamotiva</title>
	  <%= stylesheet_link_tag 'scaffold' %>
	</head>
	<body>
		<div id="main">
			
			<div id="search" style="visibility:hidden;">
		    <form action="/search" id="top_search_form" method="get">
		        Busca <input name="q" type="search"> <input value="Search" type="submit">
		    </form>
			</div>
			<div id="menu">Logotipo</div>
		  <div id="menu" class="header" style="float:left;">
				<ul>
						<li><%= link_to "Home", resultados_path %></li>
				    <li>|</li>
						<li><%= link_to "Provas", provas_path %></li>
				    <li>|</li>
						<li><%= link_to "Atletas", atletas_path %></li>
				</ul>
		  </div>
	  </div>
		<p style="color: green"><%= flash[:notice] %></p>
		<div id="internal" class="internal">
			jkjkjkjkjkj
			<%= yield  %>
		</div>
		<div id="footer" class="header">
	  	<a href="/repositories">Browse</a> | <a href="/guides">Guides</a> | <a href="/search">Advanced</a>
		</div>
	</body>
</html>
<!style="padding-top:5px;float:left;"  >

